body {
    background-color:#3b6769 ;
    font-family: 'Inconsolata', sans-serif;
}

.navbar {
    background-color: rgba(28, 48, 49, 0.8);
}

#contact, body{
    color:#FFCA28 ;
}

.btn:hover {
    background-color: #1c3031;
    color: #FFCA28;
}

.btn-spc:hover {
    background-color: transparent;
    color: #FFCA28;
}

.nav-link:hover {
    font-weight: bold;
    text-decoration: underline;
}

.priv:hover {
    font-weight: bold;
}

.cntc:hover {
    font-weight: bold;
}